body {
    padding-top: 0;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Home Page Carousel */
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }  

footer {
    margin: 0;
}
.box_image{
    height: 60px;
}
.img-fluid {
    min-height: 300px;
}
/*
 * Blog posts
 */
 .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 0;
    color: #999;
  }